.image-palette-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  position: relative;
  margin-top: 30px;
}

.image-palette-content {
  display: flex;
  align-items: stretch;
  width: 80%;
  margin-bottom: 20px;
  background: black;
  padding: 5rem 2rem;
  border-radius: 18px;
}

.image-upload {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 450px;
  margin-right: 20px;
  padding: 20px;
}

.image-preview-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image-preview {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.image-preview img {
  max-width: 100%;
  max-height: 450px;
  cursor: crosshair;
}

.color-picker {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.color-palette {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 20px;
}

.color-swatch {
  width: 60px;
  height: 60px;
  margin: 5px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8em;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.styled-button {
  background-color: var(--secondary-color);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.styled-button:hover {
  background-color: var(--secondary-hover-color);
}

.file-input {
  display: none;
}

.default-image {
  max-width: 100%;
  max-height: 300px;
}

.selected-color-display {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.selected-color-preview {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}

.color-slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.color-slider {
  width: 300px;
  height: 30px;
  margin-bottom: 10px;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 5px;
  cursor: pointer;
  background: black;
}

.color-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 30px;
  background: white;
  cursor: pointer;
}

.color-details {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.color-details div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.copy-message {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 10px 20px;
  border-radius: 25px;
  z-index: 1000;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 0.9em;
  font-weight: bold;
}

.copy-message::before {
  content: "✔";
  font-size: 1.2em;
  color: #4caf50;
}

.color-text {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
}

.color-text {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
}

.color-swatch:hover .color-text {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 768px) {
  .image-palette-section {
    height: auto;
  }
}
