:root {
  --primary-color: rgb(255 255 255);
  --secondary-hover-color: #ccc;
  --background-color: hwb(0 6% 94%);
  --input-background-color: #fff;
  --input-border-color: #ccc;
}

body {
  font-family: "Arial", sans-serif;
  background-color: var(--background-color);
  color: var(--primary-color);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 2.3rem;
}

p {
  opacity: 0.5;
}

.app-container {
  display: flex;
  flex-direction: column;
}

.header-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-container {
  text-align: center;
}

.input-container {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
}

.styled-button {
  background-color: rgb(255 255 255);
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
  font-weight: 600;
}

.styled-button:hover {
  background-color: var(--secondary-hover-color);
}

.styled-input {
  padding: 10px;
  font-size: 1em;
  border: 1px solid var(--input-border-color);
  border-radius: 8px;
  background-color: var(--input-background-color);
  box-sizing: border-box;
  width: 300px;
}

.file-input {
  display: none;
}

.image-container {
  width: 300px;
  height: 300px;
  border: 2px dashed var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.uploaded-image,
.default-image {
  max-width: 100%;
  max-height: 100%;
}

.image-palette-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.image-palette-content {
  display: flex;
  align-items: stretch;
  width: 80%;
  margin-bottom: 20px;
}

.image-upload {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 450px;
  margin-right: 20px;
  padding: 20px;
}

.image-preview-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image-preview {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.image-preview img {
  max-width: 100%;
  max-height: 450px;
  cursor: crosshair;
}

.color-picker {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.color-palette {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 20px;
}

.color-swatch {
  width: 60px;
  height: 60px;
  margin: 5px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8em;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

.selected-color-display {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.selected-color-preview {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}

.color-slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.color-slider {
  width: 300px;
  height: 30px;
  margin-bottom: 10px;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 5px;
  cursor: pointer;
  background: black;
}

.color-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 30px;
  background: white;
  cursor: pointer;
}

.color-details {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.color-details div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 768px) {
  .image-palette-content {
    flex-direction: column;
    align-items: center;
  }

  .image-upload,
  .image-preview-container {
    max-width: 100%;
    margin: 0;
  }

  .styled-input,
  .styled-button {
    width: 100%;
  }

  .image-preview img {
    max-height: 300px;
  }
}
