.saved-palettes {
  display: flex;
  gap: 35px;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 10vh;
}

.saved-palette {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  width: 100%;
  max-width: 300px;
  height: 105px;
  position: relative;
}

.color-block {
  flex: 1;
  height: 100%;
  transition: flex 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

.color-block:hover {
  flex: 3;
}

.color-code {
  position: absolute;
  font-size: 14px;
  padding: 2px 4px;
  border-radius: 10px;
  display: none;
}

.color-block:hover .color-code {
  display: block;
}

